*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.box-wrapper{
    height: 95vh;
    width: 100%;
    display:flex;
    flex-direction: column;
    text-align: center;
}
.design{
    padding: 2%;
    border: none;
    color: #042f2e;
    padding-left: 5%;
    background-color: #ffff;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 1%;
    float: right;
    cursor: pointer;
}
.button1{
    position: absolute;
    top: 80%;
    left: 42%;
    color:#042f2e;
    padding: 1%;
    font-size: 16px;
    border-radius: 34px;
    border: none;
    background-color: azure;
    background-blend-mode: lighten;
    transform: translate(-45%,-10%);
}
.button2{
    position: absolute;
    top: 80%;
    right: 42%;
    padding: 1%;
    font-size: 16px;
    border-radius: 34px;
    border: none;
    color: #042f2e;
    background-color: azure;
    background-blend-mode: lighten;
    transform: translate(45%,-10%);
}

.describe{
    position: absolute;
    top: 50%;
    left: 20%;
    width: fit-content;
    height: fit-content;
    background-color: azure;
    transform: translate(-10%,-45%);
    opacity: 80%;
    border-radius: 30px;
}
#box1{
    height: 10vh;
    color: #042f2e;
    
}

#box2{
    height: 90vh;
    color: #042f2e;
}
#box3{
    width: 30%;
    height: 100%;
    float: left;
    padding-left: 1%;
    padding-top: 1%;
   
}
#box4{
    width: 70%;
    height: 100%;
    float: right;
    color: #042f2e;
}
#img1{
    float: left;
    border-radius: 50%;
    width: 15%;
    height: 90%;
   
}

#text1{
    margin-top: 2%;
    top: 80%;
    left: 25%;
    color: #042f2e;
    transform: translate(-0%,-0%);
}
#text2{
    font-size: 4ch;
    color: #042f2e;
}
#text3{
    color: #042f2e;
    font-size: 2ch;

}


.image1{
    position: absolute;
    top: 5%;
    left: 45%;
    font-size: 5ch;
    transform: translate(-5%,-50%);

}
.container {
    position: relative;
    text-align: center;
    /* background-color: #99F6E4; */
    height: 500svh;
  }

  .container1 {
    position: relative;
    text-align: center;
    /* background-color: #99F6E4; */
    height: 500svh;
  }

  .container2 {
    position: relative;
    text-align: center;
    /* background-color: #99F6E4; */
    height: 500svh;
  }


/* .color{
    background-color:azure;
    padding-top: 2%;
    border-radius: 20px;
    opacity: 70%;
    width: fit-content;
    height: 40%;
} */

.top-margin{
    height: 10vh;
    padding: 1%;
    padding-bottom: 1% ;
    font-size: 4ch;
    color: white;
    background-image: linear-gradient(to right, #99f6e4,#5EEAD4,#2DD4BF,#0f766e,#115e59,#134E4A,#042f2e,#134E4A,#115E59,#0f766e,#2DD4BF,#5EEAD4,#99f6e4);
    background-size: 100%;
    
}
.bottom-margin{
    margin-top: 3%;
    margin-bottom: 3%;
    height: fit-content;
    color: #042f2e;
    
}
.bottom-margin1{
    height: 90vh;
    color: #042f2e;
    
}
.left-margin{
    left: 10%;
}
#horizontalrow{
    position: absolute;
    left: 10%;
}
.conclusion{
    padding: 3%;
    position: absolute;
    padding-left: 5%;
    padding-right: 5%;
    top: 20%;
    margin-top: 5%;
    font-size: larger;
    text-align: Center;
    text-justify:auto;
    transform: translate(-0%,-0%);
    line-height:150%
}
.methodleft{
    width: 45%;
    height: 100%;
    float: left;
}

.abouttext{
    margin-top: 5%;
    padding-top: 5%;
    padding: 2%;
    text-align: justify;
    line-height: 140%;
}

.overviewc{
    /* margin-top: 3%; */
    font-size: larger;
    /* padding-top: 2%; */
    text-align: center;
    padding: 3%;

}

.methodright{
    font-size:larger;
    padding-top: 2%;
    padding: 3%;
    width: 55%;
    height: 100%;
    float: right;
    text-align: justify;
    
}
.quatar1{
    padding: 1%;
    width: 50%;
    height: 50%;
    float: left;
    align-items: center;
}
.quatar2{
    width: 50%;
    height: 50%;
    float: right;
    padding: 3%;
    margin-top: 2%;
    font-size: larger;
    text-align: justify;
}
.quatar3{
    width: 50%;
    height: 50%;
    float: left;
    padding: 3%;
    margin-top: 2%;
    font-size: larger;
    text-align: justify;
}
.quatar4{
    padding: 1%;
    width: 50%;
    height: 50%;
    float: right;
    align-items: center;
}
table, th, td{
    border: solid 1px black;
    color: #042f2e;
    text-align: justify;
}
th{
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}
td{
    padding-left: 1%;
    padding-right: 1%;
    /* padding-top: 2%; */
    line-height: 140%;
    font-size: larger;
}

table{
    /* padding-top: 1%; */
    margin-top: 2%;
}

#lsbutton{
    position: absolute;
    top: 92%;
    left: 45%;
    font-size: 18px;
    border-radius: 12px;
    padding-left: 1%;
    padding-right: 1%;
    color: #1F4D4D;
    /* font-weight: bold; */
    background-color: #F5FFFD;
}

/* #aboutusid{
    background-color: #99F6E4;
} */

#aboutus{
    background-image: linear-gradient(to right, #042f2e,#14b8a6,#0f766e,#14b8a6,#042f2e,#14b8a6,#0f766e,#14b8a6,#042f2e);
    background-size: 100%;
}
.scroll-margin{
    width: 100%;
    height: fit-content;
    padding: 2%;
}
.aboutus-top{
    width: 100%;
    height: 10vh;
    color: white;
    font-size: 3ch;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    padding: 1%;
    padding-left: 2%;
}

#imageab{
    width: 80%;
    height: 10%;
    border-radius: 24px;
    align-items: center;
    /* position: absolute; */
    margin-top: 10%;
}

.column {
    float: center;
    height: fit-content;
    /* border: solid 1px black; */
  }
  
  .leftimg, .rightimg, .middleimg {
    width: 31%;
    background-color: azure;
    border-radius: 18px;
    /* opacity: 70%; */
  }
  
  .break{
    width: 2%;
    
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;

  }

  .image-container {
    position: relative;
    
}

.image-name {
    margin-top: 2%;
    font-size: 24px;
    /* font-weight: bold; */
    text-align: center;
}

  .image-gallery {
    display: flex;
    overflow-x: auto;
}
::-webkit-scrollbar{
    display: none;
}

.image-container {
    margin-right: 5px;
    /* height: fit-content; */
}

.image-container img {
    /* border-top-left-radius: 18px;
    border-top-right-radius: 18px; */
    margin-top: 15%;
    margin-bottom: 5%;
    /* padding-left: 5%;
    padding-right: 5%; */
    border-radius: 50%;
}

.image-container:last-child {
    margin-right: 0;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    border-radius: 50%;
}

.social-icons img:last-child {
    margin-right: 0;
}
.title-container{
    background-color: azure;
    border-radius: 20px;
    height: auto;
    width: 70%;
    margin-left: 15%;
    /* border: solid 1px black; */
    /* margin-top: 2%; */
}

.mt{
    top: 20%;
    left: 20%;
    position: absolute;
}