*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box-wrapper{
    height: 95vh;
    width: 100%;
    display:flex;
    flex-direction: column;
    text-align: center;
}
.design{
    padding: 2%;
    border: none;
    color: #989090;
    padding-left: 5%;
    background-color: #ffff;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 1%;
    float: right;
    cursor: pointer;
}

#box1{
    height: 10vh;
    
}

#box2{
    height: 90vh;
}
#box3{
    width: 30%;
    height: 100%;
    float: left;
    padding-left: 1%;
    padding-top: 1%;
   
}
#box4{
    width: 70%;
    height: 100%;
    float: right;
}
#img1{
    float: left;
    border-radius: 50%;
    width: 20%;
    height: 90%;
}

#text1{
    margin-top: 2%;
    top: 80%;
    left: 25%;
    transform: translate(-0%,-0%);
}
#text2{
    position: absolute;
    top: 55%;
    left: 20%;
    font-size: 5ch;
    color: black;
    transform: translate(-10%,-45%);
}
#text3{
    position: absolute;
    top: 55%;
    left: 25%;
    transform: translate(-0%,-25%);
}

#textimage1, #textimage2,#textimage4,#textimage5{
    position: absolute;
    top: 18%;
    left: 40%;
    font-size: 5ch;
    transform: translate(-5%,-50%);
}



.image1{
    position: absolute;
    top: 5%;
    left: 45%;
    font-size: 5ch;
    transform: translate(-5%,-50%);

}
.color1{
    color: #1F4D4D;
}


.container {
    position: relative;
    text-align: center;
    color: white;
    border: solid 1px black;
    background-color: #1F4D4D;
    height: 500svh;
  }

  .container1 {
    position: relative;
    text-align: center;
    color: white;
    border: solid 1px black;
    background-color: #F1D5BA;
    height: 500svh;
  }

  .container2 {
    position: relative;
    text-align: center;
    color: black;
    border: solid 1px black;
    background-color: #F5FFFD;
    height: 500svh;
  }


.color{
    background-color:azure;
    border-radius: 20px;
    opacity: 70%;
    width: fit-content;
    height: 40%;
}

.top-margin{
    height: 7vh;
    font-size: 5ch;
}
.bottom-margin{
    height: 91vh;
    
}
.left-margin{
    left: 10%;
}
#horizontalrow{
    position: absolute;
    left: 10%;
}
.conclusion{
    padding: 3%;
}
.methodleft{
    width: 45%;
    height: 100%;
    float: left;
    /* border: solid 1px black; */
    
}
.methodright{
    font-size: large;
    padding-top: 2%;
    padding: 3%;
    text-align: justify;
    width: 55%;
    height: 100%;
    float: right;
    /* border: solid 1px black; */
}
.quatar1{
    padding: 1%;
    width: 50%;
    height: 50%;
    float: left;
    align-items: center;
}
.quatar2{
    width: 50%;
    height: 50%;
    float: right;
}
.quatar3{
    width: 50%;
    height: 50%;
    float: left;
}
.quatar4{
    padding: 1%;
    width: 50%;
    height: 50%;
    float: right;
    align-items: center;
}
table, th, td{
    border: solid 1px black;
    text-align: justify;
}
table{
    padding-top: 1%;
}

#lsbutton{
    position: absolute;
    top: 90%;
    left: 50%;
    font-size: 18px;
    border-radius: 12px;
    padding-left: 1%;
    padding-right: 1%;
    background-color: #F5FFFD;
}

#aboutusid{
    background-color: #D4F1F4;
}
#aboutus{
    background-color: #75E6DA;
}
.scroll-margin{
    width: 100%;
    height: 80vh;
    padding: 2%;
}
.aboutus-top{
    width: 100%;
    height: 10vh;
    font-size: 5ch;
    font-style: normal;
    font-weight: bold;
    text-align: start;
    padding: 1%;
    padding-left: 2%;
}

#imageab{
    width: 80%;
    height: 80%;
    border-radius: 18px;
    align-items: center;
    /* position: absolute; */
    margin-top: 10%;
}

.column {
    float: left;
    height: 100%
  }
  
  .leftimg, .rightimg, .middleimg {
    width: 31%;
    background-color: azure;
    border-radius: 18px;
    /* opacity: 70%; */
  }
  
  .break{
    width: 2%;
    
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;

  }

 
  

  /* .imgcls{
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
  }
  imgbutton{
    margin-top: 2%;
    padding-left: 2%;
    
  }
  .upcls{
    height: 85%;
    width: 100%;
  }
  .downcls{
    height: 15%;
    width: 100%;
  }
  #uname{
    top:50%;
    left: 0%;
    float: left;
    color: #D4F1F4;
    text-align: left;
    transform: translate(-0%,-105%);
    padding-left: 2%;
  }
  */

  .image-container {
    position: relative;
}

.image-name {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: azure;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

  .image-gallery {
    display: flex;
    overflow-x: auto;
}

.image-container {
    margin-right: 5px;
}

.image-container img {
    /* border-top-left-radius: 18px;
    border-top-right-radius: 18px; */
    border-radius: 50%;
}

.image-container:last-child {
    margin-right: 0;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    border-radius: 50%;
}

.social-icons img:last-child {
    margin-right: 0;
}