*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box-wrapper{
    height: 95vh;
    width: 100%;
    display:flex;
    flex-direction: column;
    text-align: center;
}
.design{
    padding: 2%;
    border: none;
    color: #989090;
    padding-left: 5%;
    background-color: #ffff;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 1%;
    float: right;
    cursor: pointer;
}

#box1{
    height: 10vh;
    
}

#box2{
    height: 90vh;
    background-color: aqua;
  
}
#box3{
    width: 30%;
    height: 100%;
    float: left;
    padding-left: 1%;
    padding-top: 1%;
   
}
#box4{
    width: 70%;
    height: 100%;
    float: right;
}
#img1{
    float: left;
    border-radius: 50%;
    width: 20%;
    height: 90%;
}

#text1{
    margin-top: 2%;
    top: 80%;
    left: 25%;
    transform: translate(-0%,-0%);
}
#text2{
    position: absolute;
    top: 55%;
    left: 20%;
    font-size: 5ch;
    color: black;
    transform: translate(-10%,-45%);
}
#text3{
    position: absolute;
    top: 55%;
    left: 25%;
    transform: translate(-0%,-25%);
}

#textimage1, #textimage2,#textimage4,#textimage5{
    position: absolute;
    top: 18%;
    left: 40%;
    font-size: 5ch;
    transform: translate(-5%,-50%);
}



.image1{
    position: absolute;
    top: 5%;
    left: 45%;
    font-size: 5ch;
    transform: translate(-5%,-50%);

}
.color1{
    color: #1F4D4D;
}


.container {
    position: relative;
    text-align: center;
    color: white;
    border: solid 1px black;
    background-color: #1F4D4D;
    height: 500svh;
  }

  .container1 {
    position: relative;
    text-align: center;
    color: white;
    border: solid 1px black;
    background-color: #F1D5BA;
    height: 500svh;
  }

  .container2 {
    position: relative;
    text-align: center;
    color: black;
    border: solid 1px black;
    background-color: #F5FFFD;
    height: 500svh;
  }


.color{
    background-color:azure;
    border-radius: 20px;
    opacity: 70%;
    width: fit-content;
    height: 40%;
}

.top-margin{
    height: 8vh;
    font-size: 5ch;
}
.bottom-margin{
    height: 90vh;
    
}
.left-margin{
    left: 10%;
}
#horizontalrow{
    position: absolute;
    left: 10%;
}
.conclusion{
    padding: 3%;
}
.methodleft{
    width: 45%;
    height: 100%;
    float: left;
    
}
.methodright{
    font-size: large;
    padding-top: 2%;
    padding: 3%;
    text-align: justify;
    width: 55%;
    height: 100%;
    float: right;
}
.quatar1{
    padding: 1%;
    width: 50%;
    height: 50%;
    float: left;
    align-items: center;
}
.quatar2{
    width: 50%;
    height: 50%;
    float: right;
}
.quatar3{
    width: 50%;
    height: 50%;
    float: left;
}
.quatar4{
    padding: 1%;
    width: 50%;
    height: 50%;
    float: right;
    align-items: center;
}
table, th, td{
    padding: 1%;
    
}
td{
    padding-left: 1%;
    text-align: justify;
}